* {
  color: blue;
  font-family: 'Helvetica';
  outline: 1px solid green;
}

img {
  border-radius: 1em;
  height: 14em;
  width: 14em;
  background-color: lavender;
  border-style: solid;
}

#myChart {
  border: dashed 3px orange;
  background: lightgrey;
}
