* {
  color: gold;
  font-family: 'Helvetica';
}

body {
  background-color: #242;
}

section {
  background-color: black;
  margin: 0px auto;
  border: 5px solid lightgrey;
  text-align: center;
}

img {
  border-radius: 1em;
  height: 20em;
  width: 20em;
  background-color: lightgrey;
  border-style: solid 3px grey;
  margin: 5px;
}

h1 {
  font-size: 2.5em;
  font-family: 'Helvetica', cursive;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #214;
  width: 40%;
  background: black;
  border-radius: 5px;
}

p {
  font-family: 'Ropa Sans', sans-serif;
  color: #eee;
  font-size: 1.05em;
  line-height: 1.5em;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}

canvas {
  margin: 10px auto;
  background: green;
  border-radius: 5px;
}

#bus {
  display: inline-block;
  padding: 5px;
  margin: 0px auto;
  height: 200px;
  margin-left: 37%;

}
#bus:hover {
  background-color: red;
}
